<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Pokemon</title>
</head>
<body>
    <h2>Update Your Pokemon</h2>
    <form action="/pokemon/<%=index%>?_method=put" method="post">
    <div>
        <img src="<%= deck.img%>"/>
    </div>
    <input type="text" name="name" value="<%=deck.name%>"> Name</br>
    <input type="text" name="attack" value="<%=deck.stats.attack %> "> Attack</br>
    <input type="text" name="defense" value="<%=deck.stats.defense %> "> Defense</br>
    <input type="text" name="spattack" value="<%=deck.stats.spattack %> "> spAttack</br>
    <input type="text" name="spdefense" value="<%=deck.stats.spdefense %> "> spDefense</br>
    <input type="text" name="speed" value="<%=deck.stats.speed %> "> Speed</br>  
    <input type="submit" value="Update Pokemon">
    </form>
</body>
</html>