<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Pokemon</title>
</head>
<body>
    <h1><%=pokeInfo.name%></h1>
    <div class="showpiccontainer">
        <div class="showpic">
            <img src="<%= pokeInfo.img%>"/>
        </div>
        <div class="pokestats">
            Type: <%=pokeInfo.type%> 
            <div>
                HP: <%=pokeInfo.stats.hp%> </br>
                Attack: <%=pokeInfo.stats.attack%> </br>
                Defense: <%=pokeInfo.stats.defense%> </br>
                spAttack: <%=pokeInfo.stats.spattack%> </br>
                spDefense: <%=pokeInfo.stats.spdefense%> </br>
                Speed: <%=pokeInfo.stats.speed%></br>
            </div>
        </div>
    </div> 
    <a href="/pokemon/<%=Index%>/edit"><Button>Edit</Button></a>   
</body>
</html>